<span
    class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300"
    ><span class="dot px-2"></span><slot />
</span>
<style>
    .dot {
        --size: 10px;
        --color: rgb(107, 33, 168);

        width: var(--size);
        height: var(--size);
        margin-right: 4px;
        background-color: var(--color);
        border-radius: 50%;
        box-shadow: 0 0 0 0 var(--color);
        transform: scale(1);
        animation: pulse 2s infinite;
    }
    @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(168, 85, 247 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 6px transparent;
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 transparent;
    }
  }
</style>
